<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banana Ripeness Classifier</title>
  <link rel="icon" href="https://image.freepik.com/free-vector/banana-cartoon-illustration_53734-31.jpg">
  <link rel="stylesheet" href="../static/css/style.css">
  <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="../static/js/design.js"></script>
  <script src="../static/js/app.js"></script>
</head>
<body>
    <div class="outside">
        <div class="inside">
            <p class="title"><span class="first">B</span>ANANA RIPENESS CLASSIFIE<span class="first">R</span>
            <p class="sub-text">A flask app that classifies bananas based on their ripeness color</p>
            </p>
        </div>
    </div>
  <form id="uploadform" method="post" enctype="multipart/form-data">
  <div class="file-upload">
    <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

    <div class="image-upload-wrap">
        <input class="file-upload-input" onchange="readURL(this);" type='file' id="imgInput" name="file"/>
      <div class="drag-text">
        <h3>Drag and drop a file or select add Image</h3>
      </div>
    </div>
    <div class="file-upload-content">
      <img class="file-upload-image" src="#" alt="your image" />
      <div class="image-title-wrap">
        <button type="submit" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
      </div>
    </div>
  </div>
    <button class="file-upload-btn" type="button" id="submit">Classify Banana</button>
  </form>
  <div class="result">
    <p>Result Class:&nbsp;<span id="resultClassType"> None</span></p>
  </div>
</body>
</html>